<div class="col-10">
    <div class="container pt-5">
        <div class="card card-default">
            <div
                class="card-header card-header-border-bottom d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    {{!-- NẾU LÀ TÀI KHOẢN ĐANG CHỜ KÍCH HOẠT --}}
                    {{#if (isWaitingActiveAccount account.status)}}
                    <button class="btn btn-primary mr-3" data-toggle="modal"
                        data-target="#verify-account-modal" data-account-action="xác minh"
                        data-newstatus="1" data-oldstatus="0">Xác minh</button>
                    <button class="btn btn-danger mr-3" data-toggle="modal"
                        data-target="#verify-account-modal" data-account-action="hủy"
                        data-newstatus="2" data-oldstatus="0">Hủy</button>
                    <button class="btn btn-info mr-3" data-toggle="modal"
                        data-target="#verify-account-modal"
                        data-account-action="yêu cầu bổ sung thông tin" data-newstatus="3"
                        data-oldstatus="0">Yêu cầu
                        bổ
                        sung
                        thông
                        tin</button>
                    {{/if}}

                    {{!-- NẾU LÀ TÀI KHOẢN ĐANG BỊ KHÓA --}}
                    {{#if (isLockingAccount account.status)}}
                    <button class="btn btn-primary mr-3" data-toggle="modal"
                        data-target="#verify-account-modal" data-newstatus="{{account.tempStatus}}"
                        data-oldstatus="5" data-account-action="mở khóa">Mở
                        khóa</button>
                    {{/if}}
                </div>
                {{{renderAccountStatus account.status}}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="name">Họ tên</label>
                        <input type="text" value="{{account.name}}" name="name" id="name"
                            class="form-control" disabled>
                    </div>
                    <div class="form-group col-6">
                        <label for="phone">Số điện thoại</label>
                        <input type="number" value="{{account.phone}}" name="phone" id="phone"
                            class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="address">Địa chỉ</label>
                        <input type="text" value="{{account.address}}" name="address" id="address"
                            class="form-control" disabled>
                    </div>
                    <div class="form-group col-6">
                        <label for="email">Email</label>
                        <input type="text" value="{{account.email}}" name="email" id="email"
                            class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="birthday">Ngày sinh</label>
                        <input type="text" value="{{getDateFormat account.birthday}}"
                            name="birthday" id="birthday" class="form-control" disabled>
                    </div>
                    <div class="form-group col-6">
                        <label for="balance">Số dư</label>
                        <input type="text" value="{{getPriceString account.balance}}" name="balance"
                            id="balance" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="front-id-card">Ảnh CMND mặt trước</label>
                        <img src="/uploads/{{account.frontIdCard}}" alt="" width="100%">
                    </div>
                    <div class="form-group col-6">
                        <label for="back-id-card">Ảnh CMND mặt sau</label>
                        <img src="/uploads/{{account.backIdCard}}" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>

        <!-- DANH SÁCH GIAO DỊCH-->
        <div class="card card-table-border-none bg-white p-4 mt-4" id="recent-orders">
            <div class="card-header justify-content-between bg-white border-0">
                <h4>CÁC GIAO DỊCH ĐÃ THỰC HIỆN</h4>
            </div>
            <div class="card-body pt-0 col-12">
                {{!-- HEADING --}}
                <div class="row mb-3">
                    <div class="col-4 font-weight-bold">
                        Mã giao dịch
                    </div>
                    <div class="col-3 font-weight-bold">
                        Loại giao dịch
                    </div>
                    <div class="col-3 font-weight-bold">
                        Số tiền
                    </div>
                    <div class="col-2 font-weight-bold">
                        Thao tác
                    </div>
                </div>

                {{!-- LIST ITEMS --}}
                <div class="list-content">
                    {{#each transactions}}
                    <div class="row mb-2">
                        <div class="col-4">
                            {{this._id}}
                        </div>
                        <div class="col-3">
                            {{getTransactionTypeString this.transactionType}}
                        </div>
                        <div class="col-3">
                            {{getPriceString this.price}}
                        </div>
                        <div class="col-2">
                            <div class="dropdown show d-inline-block widget-dropdown">
                                <a class=" text-color dropdown-toggle icon-burger-mini" href=""
                                    role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" data-display="static">Thao tác</a>
                                <ul class="dropdown-menu dropdown-menu-right"
                                    aria-labelledby="dropdown-recent-order1">
                                    <li class="dropdown-item">
                                        <a class="d-block"
                                            href="/admin/transactions/transaction-detail/{{this._id}}">Chi
                                            tiết</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div>
                        Chưa có giao dịch nào
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal --}}
<div class="modal fade" id="verify-account-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác minh tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn với quyết định <strong id="verify-decision"></strong> cho tài
                khoản
                này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy
                    bỏ</button>
                <button id="admin-account-confirm-modal-btn" type="button" class="btn btn-primary"
                    data-account-id="{{account._id}}" data-account-newstatus=""
                    data-account-oldstatus="">Chắc
                    chắn</button>
            </div>
        </div>
    </div>
</div>